{% extends 'base.html' %}

{% load staticfiles %}
{% load base_templatetags %}

{% block css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">
{% endblock %}

{% block js-top %}
{% endblock %}

{% block body %}
<div id="wrapper">
    <div id="header" class="row-fluid">
        <nav id="navigation" class="cl-effect-4" role="navigation">
            <ul>
               <li><a href="#listen" data-trigger="scroll" class="hover-link-white ">Listen</a></li>
               <li><a href="#about" data-trigger="scroll" class="hover-link-white ">About</a></li>
               <li><a href="#connect" data-trigger="scroll" class="hover-link-white ">Connect</a></li>
            </ul>
        </nav>
        <div id="logo">
            <!-- <div id="logo-text"><h1>Verbana</h1></div> -->
            <img id="logo-image" class="img-responsive" alt="verbana" src="{{ STATIC_URL }}images/Verbana-Logo.png" / >
        </div>
        <div id="slideshow">
            <div class="slide" style="background-image: url({{ STATIC_URL }}images/beach-fade.jpg);"></div>
        </div>
    </div> <!-- end div "header" -->
    <div id="main" class="row-fluid" role="main">
        <div id="left-container">
            <div id="listen-container" class="col-md-6">
                <h2 class="title" id="listen">Listen</h2>
                <div id="songs">
                    {% with 'SONG_ID_LIST'|get_settings_value as song_id_list %}
                    {% for song in song_id_list %}
                    <div class="song-block">
                        <iframe width="100%" height="120" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{ song }}&amp;color=000000&amp;auto_play=false&amp;show_artwork=true&amp;font=Julius%20Sans%20One"></iframe>
                    </div>
                    {% endfor %}
                    {% endwith %}
                </div>
            </div>
        </div>
        <div id="right-container" class="row-fluid">
            <div id="about-container" class="col-md-6">
                <h2 class="title" id="about">About</h2>
                {% include 'about.html' %}
            </div>
            <div id="connect-container" class="col-md-6">
                <h2 class="title" id="connect">Connect</h2>
                <ul id="connect-links" class="cl-effect-4">
                    <li>
                        <a href="http://soundcloud.com/verbana" title="Soundcloud" class="hover-link" target="_blank">Soundcloud</a>
                    </li >
                    <li>
                        <a href="http://twitter.com/atsutaskforce" title="Twitter" class="hover-link" target="_blank">Twitter</a>
                    </li>
                    <li>
                        <a href="http://www.last.fm/music/Verbana" title="Last.fm" class="hover-link" target="_blank">Last.fm</a>
                    </li>
                    <li>
                        <a href="http://verbana.bandcamp.com" title="Bandcamp" class="hover-link" target="_blank">Bandcamp</a>
                    </li>
                </ul>
            </div>
        </div>
    </div><!-- end div "main" -->
    <div id="footer" class="row-fluid">
        <hr class="style-eight"/>
        <p id="copyright">&#169; 2013 VERBANA. ALL RIGHTS RESERVED.</p>
    </div><!-- end div "footer" -->
</div> <!-- end div "wrapper" -->
{% endblock %}

{% block js-bottom %}
<script src="{{ STATIC_URL }}js/main.js"></script>
{% endblock %}
