{% extends 'base.html' %}

{% load staticfiles %}
{% load base_templatetags %}

{% block css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">
{% endblock %}

{% block js-top %}
{% endblock %}

{% block body %}
<div id="wrapper">
    <div id="header">
        <div id="logo">
            <!-- TODO: Make a real logo picture -->
            <div id="logo-text">
                <h1>Verbana</h1>
            </div>
        </div>
        <nav id="navigation" role="navigation">
            <ul>
                <li class="left">
                    <a href="#listen" title="Listen" data-trigger="scroll" class="hover-link hover-link-white">Listen<span class="hover-line"></span></a>
                </li>
                <li class="right">
                    <a href="#connect" title="Connect" data-trigger="scroll" class="hover-link hover-link-white">Connect<span class="hover-line"></span></a>
                </li>
            </ul>
        </nav>
        <div id="slideshow">
            <div class="slide" style="background-image: url({{ STATIC_URL }}images/slide01.jpg);"></div>
        </div>
    </div> <!-- end div "header" -->
    <div id="main" role="main">
        <h2 class="title" id="listen">Listen</h2>
        <div id="songs">
            {% with 'SONG_ID_LIST'|get_settings_value as song_id_list %}
            {% for song in song_id_list %}
            <div class="song-block">
                <iframe width="100%" height="120" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{ song }}&amp;color=262b45&amp;auto_play=false&amp;show_artwork=true&amp;font=Julius%20Sans%20One"></iframe>
            </div>
            {% endfor %}
            {% endwith %}
        </div>
        <h2 class="title" id="connect">Connect</h2>
        <ul id="connect-links">
            <li>
                <a href="http://soundcloud.com/verbana" title="soundcloud" class="hover-link" target="_blank">Soundcloud<span class="hover-line"></span></a>
            </li >
            <li>
                <a href="http://twitter.com/atsutaskforce" title="twitter" class="hover-link" target="_blank">Twitter<span class="hover-line"></span></a>
            </li>
        </ul>
    </div><!-- end div "main" -->
</div> <!-- end div "wrapper" -->
{% endblock %}

{% block js-bottom %}
<script src="{{ STATIC_URL }}js/main.js"></script>
{% endblock %}
