{% extends 'base.html' %}

{% load staticfiles %}

{% block css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">
{% endblock %}

{% block js-top %}
<script src="{{ STATIC_URL }}js/main.js"></script>
{% endblock %}

{% block body %}
<div id="wrapper">
    <div id="header">
        <div id="logo">
            <!-- TODO: Make a real logo picture -->
            <div id="logo-text">
                Verbana
            </div>
        </div>
        <nav id="navigation" role="navigation">
            <ul>
                <li class="left">
                    <a href="#listen" title="Listen" data-trigger="scroll" class="hover-link hover-link-white">Listen<span class="hover-line"></span></a>
                </li>
                <li class="right">
                    <a href="#connect" title="Connect" data-trigger="scroll" class="hover-link hover-link-white">Connect<span class="hover-line"></span></a>
                </li>
            </ul>
        </nav>
        <div id="slideshow">
            <div class="slide" style="background-image: url({{ STATIC_URL }}images/slide01.jpg);"></div>
        </div>
    </div> <!-- end div "header" -->
    <div id="main" role="main">
        <h2 class="title" id="listen">Listen</h2>
        <h2 class="title" id="connect">Connect</h2>
    </div><!-- end div "main" -->
</div> <!-- end div "wrapper" -->
{% endblock %}

{% block js-bottom %}
{% endblock %}
