ol, ul {
    list-style: none;
    padding: 0;
    border: 0;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover, a:focus {
    color: #ffffff;
    text-decoration: none;
}


h1,h2,h3,h4,h5,h6,p {
     font-family: inherit;
     font-size: inherit;
}

h2 {
    display: block;
    font-size: 3.500em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    font-weight: bold;
    text-align: center;
}

hr {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    border: none;
    border-top: medium double #262b45;
    color: #262b45;
    text-align: center;
}

html {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Julius Sans One', 'Helvetica', 'Arial', sans-serif;
    font-size: 120%;
    height: 100%;
}

#wrapper {
    position: relative;
    clear: both;
    margin: 0px;
    background-color: #fff;
    min-height: 100%;
    height: 100%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.hover-link {
    position: relative;
}

.hover-link .hover-line {
    display: block;
    position: absolute;
    top: 48%;
    left: 50%;
    width: 0;
    height: 1px;
    background-color: #262b45;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transform: translatez(0);
}

.hover-link:hover .hover-line{
    width:100%;
    left:0;
}

.hover-link-white .hover-line {
    background-color: #ffffff;
}

#header {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 700px;
}

#navigation {
    z-index: 20;
    position: relative;
    top: 10%;
    width: 100%;
    height: 50px;
    padding-top: 0px;
    font-size: 1.750em;
    color: #ffffff;
    /*
    background-position: -358px -253px;
    */
}

#navigation ul {
    position: relative;
    display: table;
    table-layout: fixed;
    width: 100%;
}

#navigation li {
    position: relative;
    text-align: center;
    display: table-cell;
}

#navigation a {
    margin-left: 5px;
    margin-right: 5px;
}

#logo {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 30%;
    width: 100%;
    height: 100%;
    margin: auto auto auto auto;
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
}

#logo #logo-text {
    /* make this responsive */
    top: 35%;
    z-index: 10;
    text-align: center;
    font-family: 'Julius Sans One', 'Helvetica', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 6.000em;
    color: #ffffff;
    text-transform: uppercase;
}

#logo #logo-image {
    top: 0;
    left: 0;
    display: block;
    margin: auto;
    text-align: center;
    position: relative;
}

#slideshow {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#slideshow .slide {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center top;
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    -webkit-transform: translatez(0);
}

#main {
    position: relative;
    z-index: 100;
    padding-bottom: 100px; /* height of footer */
    padding-top: 20px;
    background-color: #fff;
    height: auto;
    min-height: 100%;
}

#main .title {
    margin-top: 28px;
    margin-bottom: 28px;
    font-size: 4.000em;
    color: #262b45;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 4px;
}

#left-container {
    height: auto;
    min-height: 100%;
}

#listen-container {

}

#right-container {
    height: auto;
    min-height: 100%;
}

#about-container {
    text-align: center;
}

#about-container p {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.300em;
}

#connect-container {

}

#songs {
    margin-left: auto;
    margin-right: auto;
}

#songs .song-block {
    position: relative;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}


#connect-links ul, li {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

#connect-links a {
    position: relative;
    color: #262b45;
    font-size: 2.000em;
}

#footer {
    position: relative;
    z-index: 100;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -30px;
    height: 30px;
    width: 100%;
    bottom: 0;
    display: block;
    clear: both;
}

#copyright {
    height: 100%;
    margin-top: 15px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 0.800em;
}

#copyright p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.800em;
}
